 #leftimg {
    float:left; /* Выравнивание по левому краю */
    margin: 15px 15px 15px 0; /* Отступы вокруг картинки */
   }
#s1
{
    width:100%;
    background-color:#ffffff;
    height:400px;
}
   #t
   {
       background:#ffffff;
       width:900;
   }
      .t1
   {
       background:#ffffff;
   }

#s2
{
    width:100%;
    background-color:#ffffff;
    height:250px;
}
#footer {
    background: #ffffff; /* Цвет фона */
    color: #ffffff; /* Цвет текста */
    width: 100%;    /* Ширина слоя */
   }
@media (min-device-width:700px )
{
#s1
{
    width:100%;
    background-color:#ffffff;
    height:250px;
}
#s2
{
    width:100%;
    background-color:#ffffff;
    height:40px;
}
}



   h1 {
    font-family: Pompadur, 'Arial';
    font-size: 80px;
    background-color:#ffffff;
    height: 230;
    color: #FFAE42;
   }
   
    html {background-color:#ef6c6c;
    height: 100%; /* Высота страницы */     
   }
   body {
      width:100%;
      background:#ef6c6c;
    background-position: top left ; /* Положение фона */
    background-repeat: no-repeat; /* Отменяем повторение фона */

   
   }
